*{
    padding: 0px;
    margin: 0px;
}

.ace-tm .ace_gutter {background: #f0f0f0;color: #333;}.ace-tm .ace_print-margin {width: 1px;background: #e8e8e8;}.ace-tm .ace_fold {background-color: #6B72E6;}.ace-tm {background-color: #FFFFFF;color: black;}.ace-tm .ace_cursor {color: black;}.ace-tm .ace_invisible {color: rgb(191, 191, 191);}.ace-tm .ace_storage,.ace-tm .ace_keyword {color: blue;}.ace-tm .ace_constant {color: rgb(197, 6, 11);}.ace-tm .ace_constant.ace_buildin {color: rgb(88, 72, 246);}.ace-tm .ace_constant.ace_language {color: rgb(88, 92, 246);}.ace-tm .ace_constant.ace_library {color: rgb(6, 150, 14);}.ace-tm .ace_invalid {background-color: rgba(255, 0, 0, 0.1);color: red;}.ace-tm .ace_support.ace_function {color: rgb(60, 76, 114);}.ace-tm .ace_support.ace_constant {color: rgb(6, 150, 14);}.ace-tm .ace_support.ace_type,.ace-tm .ace_support.ace_class {color: rgb(109, 121, 222);}.ace-tm .ace_keyword.ace_operator {color: rgb(104, 118, 135);}.ace-tm .ace_string {color: rgb(3, 106, 7);}.ace-tm .ace_comment {color: rgb(76, 136, 107);}.ace-tm .ace_comment.ace_doc {color: rgb(0, 102, 255);}.ace-tm .ace_comment.ace_doc.ace_tag {color: rgb(128, 159, 191);}.ace-tm .ace_constant.ace_numeric {color: rgb(0, 0, 205);}.ace-tm .ace_variable {color: rgb(49, 132, 149);}.ace-tm .ace_xml-pe {color: rgb(104, 104, 91);}.ace-tm .ace_entity.ace_name.ace_function {color: #0000A2;}.ace-tm .ace_heading {color: rgb(12, 7, 255);}.ace-tm .ace_list {color:rgb(185, 6, 144);}.ace-tm .ace_meta.ace_tag {color:rgb(0, 22, 142);}.ace-tm .ace_string.ace_regex {color: rgb(255, 0, 0)}.ace-tm .ace_marker-layer .ace_selection {background: rgb(181, 213, 255);}.ace-tm.ace_multiselect .ace_selection.ace_start {box-shadow: 0 0 3px 0px white;}.ace-tm .ace_marker-layer .ace_step {background: rgb(252, 255, 0);}.ace-tm .ace_marker-layer .ace_stack {background: rgb(164, 229, 101);}.ace-tm .ace_marker-layer .ace_bracket {margin: -1px 0 0 -1px;border: 1px solid rgb(192, 192, 192);}.ace-tm .ace_marker-layer .ace_active-line {background: rgba(0, 0, 0, 0.07);}.ace-tm .ace_gutter-active-line {background-color : #dcdcdc;}.ace-tm .ace_marker-layer .ace_selected-word {background: rgb(250, 250, 255);border: 1px solid rgb(200, 200, 250);}.ace-tm .ace_indent-guide {background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==") right repeat-y;}

.error_widget_wrapper {        background: inherit;        color: inherit;        border:none    }    .error_widget {        border-top: solid 2px;        border-bottom: solid 2px;        margin: 5px 0;        padding: 10px 40px;        white-space: pre-wrap;    }    .error_widget.ace_error, .error_widget_arrow.ace_error{        border-color: #ff5a5a    }    .error_widget.ace_warning, .error_widget_arrow.ace_warning{        border-color: #F1D817    }    .error_widget.ace_info, .error_widget_arrow.ace_info{        border-color: #5a5a5a    }    .error_widget.ace_ok, .error_widget_arrow.ace_ok{        border-color: #5aaa5a    }    .error_widget_arrow {        position: absolute;        border: solid 5px;        border-top-color: transparent!important;        border-right-color: transparent!important;        border-left-color: transparent!important;        top: -5px;    }
.ace-cobalt .ace_gutter {background: #011e3a;color: rgb(128,145,160)}.ace-cobalt .ace_print-margin {width: 1px;background: #555555}.ace-cobalt {background-color: #002240;color: #FFFFFF}.ace-cobalt .ace_cursor {color: #FFFFFF}.ace-cobalt .ace_marker-layer .ace_selection {background: rgba(179, 101, 57, 0.75)}.ace-cobalt.ace_multiselect .ace_selection.ace_start {box-shadow: 0 0 3px 0px #002240;}.ace-cobalt .ace_marker-layer .ace_step {background: rgb(127, 111, 19)}.ace-cobalt .ace_marker-layer .ace_bracket {margin: -1px 0 0 -1px;border: 1px solid rgba(255, 255, 255, 0.15)}.ace-cobalt .ace_marker-layer .ace_active-line {background: rgba(0, 0, 0, 0.35)}.ace-cobalt .ace_gutter-active-line {background-color: rgba(0, 0, 0, 0.35)}.ace-cobalt .ace_marker-layer .ace_selected-word {border: 1px solid rgba(179, 101, 57, 0.75)}.ace-cobalt .ace_invisible {color: rgba(255, 255, 255, 0.15)}.ace-cobalt .ace_keyword,.ace-cobalt .ace_meta {color: #FF9D00}.ace-cobalt .ace_constant,.ace-cobalt .ace_constant.ace_character,.ace-cobalt .ace_constant.ace_character.ace_escape,.ace-cobalt .ace_constant.ace_other {color: #FF628C}.ace-cobalt .ace_invalid {color: #F8F8F8;background-color: #800F00}.ace-cobalt .ace_support {color: #80FFBB}.ace-cobalt .ace_support.ace_constant {color: #EB939A}.ace-cobalt .ace_fold {background-color: #FF9D00;border-color: #FFFFFF}.ace-cobalt .ace_support.ace_function {color: #FFB054}.ace-cobalt .ace_storage {color: #FFEE80}.ace-cobalt .ace_entity {color: #FFDD00}.ace-cobalt .ace_string {color: #3AD900}.ace-cobalt .ace_string.ace_regexp {color: #80FFC2}.ace-cobalt .ace_comment {font-style: italic;color: #0088FF}.ace-cobalt .ace_heading,.ace-cobalt .ace_markup.ace_heading {color: #C8E4FD;background-color: #001221}.ace-cobalt .ace_list,.ace-cobalt .ace_markup.ace_list {background-color: #130D26}.ace-cobalt .ace_variable {color: #CCCCCC}.ace-cobalt .ace_variable.ace_language {color: #FF80E1}.ace-cobalt .ace_meta.ace_tag {color: #9EFFFF}.ace-cobalt .ace_indent-guide {background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHCLSvkPAAP3AgSDTRd4AAAAAElFTkSuQmCC) right repeat-y}

:root{
    --black: #3c3c3c;
    --black2: #333333;
    --font: #b3b2b2;
    --active: #4a4848;
}

body{
    background: #1e1e1e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--font);
}

#app .taskbar .header{
    width: 100%;
    height: 50px;
    background: #02172b;
    position: relative;
    z-index: 100;
}

a{
    cursor: pointer;
}

#app .taskbar .header a{
    margin-left: 0px;
    position: relative;
    top: 13px;
    padding: 12px;
    left: 55px;
}

#app .taskbar .header a:hover{
    background: #0e4375;
}

#app .menu-left{
    position: fixed;
    left: 0px;
    width: 55px;
    height: 100%;
    background: #011e3a;
    overflow-y: auto;
    overflow-x: hidden;
}

#app .menu-left a{
    font-size: 24px;
    display: block;
    margin: 18px 17px;
}

#app .menu-left a:hover{
    color: #fff;
}

#app .menu-left .active{
    color: #fff;
}

#app .content{
    width: 200px;
    height: 100%;
    position: fixed;
    background: #0d0d14;
    left: 55px;
}

#app .content .title{
    font-size: 17px;
    font-style: normal;
    padding: 15px;
}

#app .content .open_editor .header{
    width: 100%;
    height: 40px;
    background: #011e3a;
    text-align: center;
    overflow: hidden;
    transition: 1s;
    cursor: pointer;
}

#app .content .open_editor .header p{
    font-size: 14px;
}

#app .content .open_editor p{
    padding: 10px;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
}

#app .content .files{
    position: relative;
    width: 100%;
    height: 0px;
}

#app .files_open{
    width: calc(100% - 255px);
    height: 100%;
    background: #252526;
    position: fixed;
    float: right;
    right: 0px;
}

#app .files_open .header_arq{
    width: 100%;
    height: 45px;
    background: #0d0d14;
}

#app .content .files p{
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

#app .files{
    padding: 10px;
}

#app .files_open .header_arq a{
    background: #0e4375;
    padding: 10px;
    position: relative;
    top: 11px;
}

#app .files_open .header_arq .active{
    color: #fff;
}

#app .files_open .editor{
    width: 100%;
    height: 100%;
    background: rgb(2, 23, 43);
    overflow: hidden;
    cursor: text;
}

#app .files_open .editor textarea{
    width: 99%;
    height: 100%;
    resize: none;
    background: transparent;
    outline: none;
    border: none;
    font-size: 22px;
    color: #fff;
    padding: 10px;
    position: relative;
    z-index: 5;
    font-size: 22px;
    top: 0px;
    overflow: hidden !important;
    top: 3px;
    left: -7px;
}

textarea::selection{
    color: #80ffbb;
    background: var(--black)
}

#app .files_open .editor .code{
    width: 95.1%;
    height: 98%;
    background: transparent;
    position: absolute;
    z-index: 0;
    color: #fff;
    top: 55px;
    left: 10px;
    font-size: 22px;
    overflow: auto;
}

#app .files_open .editor .code p{
    font-size: 22px;
    position: relative;
    left: 15px;
    word-wrap: break-word;
    display: inline-block;
}

#app .welcome{
    padding: 40px;
}

#app .welcome h2{
    position: relative;
    top: 30px;
    font-size: 22px;
}

#app .welcome a{
    position: relative;
    top: 40px;
    font-size: 17px;
    color: #2196F3;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.60);
    z-index: -1;
}

.popup .message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input::placeholder{
    color: var(--font);
}

input{
    width: 100%;
    border: none;
    background: var(--black);
    outline: none;
    padding: 10px;
    color: var(--font);
    border: 2px solid transparent;
}

.popup .message button{
    width: 100%;
    border: none;
    outline: none;
    position: relative;
    left: 10px;
    top: 10px;
    margin-top: 10px;
    padding: 10px; 
    cursor: pointer;
    background: var(--black);
    color: #fff;
}

.popup .message .blue{
    background-color: #2196F3;
}

.popup .message .red{
    background-color: #f32148;
}

.ace_editor {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font: 17px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.ace-cobalt {
    background-color: #01004014;
    color: #FFFFFF;
}